body {
    background: cadetblue;
}

.container {
    width: 1400px;
    margin: 50px auto 0;
    max-width: 100%;
}

.colorwhite {
    color: white;
}
.colorblack {
    font-weight: Bold;
}
.DarkSide {
    font-weight: Bold;
}
.WhiteSide {
    color: white;
}

.right-wrapper {
    float: right;
    margin: 0px;
}

.side-picker {
    margin-top: 20px;
    text-align: center;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption {
    margin-top: 20px;
}

audio {
    margin-top: 10px;
}

.right-wrapper img {
    margin: 0 5px;
}

.teaching {
    display: flex;
    flex-direction: column;
    align-items: center;